<div class="row">
    <div class="col-md-12">
        <a href="/#/coordinator/info-by-course/{{coordinator.Info.CourseId}}" class="btn btn-primary">Voltar</a>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-12">
        <p><b>Nome: </b>{{coordinator.Info.Student.UserName}}</p>
        <p><b>E-mail: </b>{{coordinator.Info.Student.Email}}</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <h4>Filtrar por?</h4>
    </div>
    <div class="col-sm-12">
        <div class="radio">
            <label>
                <input type="radio" ng-model="filter.option" name="filterRadio" id="radio-subject" value="subject" ng-change="filterSelected()">
                Disciplinas
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="filter.option" name="filterRadio" id="radio-date" value="date" ng-change="filterSelected()">
                Data
            </label>
        </div>
    </div>
</div>
<br />
<div id="subject-filter">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-xs-12">
            <div class="form-group">
                <label for="subjectInput">Disciplina</label>
                <input type="text" class="form-control" id="subjectInput" placeholder="Digite a disciplina" ng-model="searchSubject">
            </div>
        </div>
    </div>
</div>
<div id="date-filter" style="display:none">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" name="formFilterDate">
                <div class="form-group">
                    <label for="exampleInputName2">Data inicial</label>
                    <input ng-model="startDateStr" smallerdate type="date" class="form-control" name="inputStartDate" required>
                    <span ng-show="formFilterDate.inputStartDate.$error.smallerdate">Data inicial maior que data final!</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">Data final</label>
                    <input ng-model="endDateStr" biggerdate type="date" class="form-control" required>
                </div>
                <button type="submit" ng-disabled="verifyDate()" ng-click="filterByDate(startDateStr, endDateStr)" class="btn btn-default">Filtrar</button>
            </form>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Turma</th>
                    <th>Disciplina</th>
                    <th>Período</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in coordinator.Info.Student.Scores | filter:searchSubject | filter:searchByDate:endDateStr">
                    <td>{{x.SchoolClass}}</td>
                    <td>{{x.Subject}}</td>
                    <td>{{x.StartDate | date:'dd/MM/yyyy'}} a {{x.EndDate | date:'dd/MM/yyyy'}}</td>
                    <td>{{x.Value}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>