@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
@import "variables";

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";
//...


#loading-bar .bar {
    background: #fff !important;
    height: 4px !important;
}

#loading-bar-spinner .spinner-icon {
    width: 18px !important;
    height: 18px !important;
    border: solid 4px transparent !important;
    border-top-color: #fff !important;
    border-left-color: #fff !important;
    border-radius: 10px !important;
}
