@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
@import "variables";

// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";
//...


#loading-bar .bar {
    background: #fff;
    height: 4px;
}

#loading-bar-spinner .spinner-icon {
    width: 18px;
    height: 18px;
    border: solid 4px transparent;
    border-top-color: #fff;
    border-left-color: #fff;
    border-radius: 10px;
}
